.footer{
    width: 85%;
    margin: 0 auto;
    padding: 1rem;
    border-top: 1px solid #bfbfbf;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-top: 3rem;

}

.img{
    width: 150px;
    height: auto;
    filter: invert(1);
}

.footer__box{

}


.social{
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    cursor: pointer;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
}

