.header{
    width: 65%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #fff;

    display: grid;
    gap: 1rem;
}

.header__box{
    background-color: #2b3645;
    padding: 1rem;
    border-radius: .4rem;
}

.header__box{
text-align: center;
font-weight: 700;
}



/* ///////////////////////////////////// */




.container{
    width: 65%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #fff;
    line-height: 1.2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.container__box{
    background-color: #2b3645;
    padding: .5rem 1rem;
    font-size: 12px;
    border-radius: .4rem;
   
}

.container__box a{
    color: #d1d1d2;
    font-weight: 700;
    transition: .5s linear ease-in;
}
.container__box a:hover{
    color: white;
}
.container__box h3{
    color: #fff;
    border-bottom: 1px solid #758293;
    padding: .5rem;
}

.container__block{
    height: 80vh;
    overflow-y: scroll;
}

.container__block::-webkit-scrollbar-track {
    background-color: #dadada;
    border-radius: 4px;
}
.container__block::-webkit-scrollbar-thumb {
    background-color: #776f6f;
    border-radius: 4px;
}
.container__block::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background: rgb(161, 158, 158);
    border-radius: 4px;
}
.container__block::-webkit-scrollbar-thumb:horizontal {
    background: rgb(97, 95, 95);
    border-radius: 4px;
}

.oneBlock{
    display: flex;
    gap: 2rem;
}

.bk{
    background-color: #0776a9;
    width: 1.5rem;
    color: #fff;
    font-weight: bolder;
    padding: .2rem;
    border-radius: .2rem;
   
}

.reward{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    justify-content: space-between;
}

.reward span{
    color: #d1d1d2;
    font-weight: bolder;
   
}

.miner{
    line-height: 1;
}


.link a{
    margin-left: .9rem;
}


/* ////////////////////////////////////////////// */
.accountAddress{
    background-color: #2b3645;
    padding: .5rem;
    color: #fff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.accountAddress input{
    background-color: transparent;
    border: 0;
    outline: none;
    padding: .5rem;
    color: #fff;
    width: 100%;
}

.accountAddress input::-webkit-input-placeholder{
    color: rgb(228, 228, 228);
}

/* ////////////////////////// */

@media screen and (max-width: 45em){
    .header{
        width: 95%;
    }
    .container{
        grid-template-columns: 1fr;
        width: 95%;
        overflow: hidden;
    }
}
