.table{
    background-color: #2b3645;
    color: #fff;
    padding: 1rem 2rem;
    margin-block: 1rem;
    font-size: 12px;
    z-index: 2000;
    border-radius: 8px;
    width: 70%;
    margin: 15px auto;
}
.table__head{
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 1px solid #758293;
    padding-bottom: .5rem;
}
.btn{
    background-color: transparent;
    border: 0;
    color: #d1d1d2;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s ease;
}
.btnActive{
    color: white;
}
.btnActive::after{
    width: 80%;
    height: 1px;
    content: '';
    display: block;
    position: relative;
    background: white;
    margin: auto;
    margin-top: 3px;
}
.btn:hover{
    color: #fff;
}
.numberOfTrans{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.dataTable{
    display: grid;
    grid-template-columns: 15rem repeat(16, 5rem);
    align-items: center;
    gap: 1rem;
    font-size: 10px;
    overflow-x: auto;
}

.dataTable::-webkit-scrollbar-track {
    background-color: #dadada;
    border-radius: 4px;
}
.dataTable::-webkit-scrollbar-thumb {
    background-color: #776f6f;
    border-radius: 4px;
}
.dataTable::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background: rgb(161, 158, 158);
    border-radius: 4px;
}
.dataTable::-webkit-scrollbar-thumb:horizontal {
    background: rgb(97, 95, 95);
    border-radius: 4px;
}
.tableTitle p{
    font-size: 12px;
    font-weight: 700;
    color: #d1d1d2;
}
.transHash{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.toLink{
    cursor: pointer;
    color: #d1d1d2;
}
.toLink:hover{
    color: whitesmoke;
}

.sorry{
    text-align: center;
}
.sorry img{
    max-width: 200px;
    height: auto;
}

@media screen and(max-width: 35em) {
    .table{
        width: 95% !important;
    }
    .table__head{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
    }
    .dataTable{
        overflow-x: auto;
    }
}